 <ion-header-bar class="bar-subheader">
        <div class="button-bar">
            <div class="button-bar">
                <a class="button button-clear button-assertive" tab-state ng-click="goto('app.parentfind')">Created</a>
                <a class="button button-clear button-assertive" tab-state ng-click="goto('app.parentpending')">Pending</a>
                <a class="button button-clear button-assertive" tab-state ng-click="goto('app.parentcompleted')">Completed</a>
                <a class="button button-clear button-assertive" tab-state ng-click="goto('app.parentrejected')">Rejected</a>
            </div>
        </div>
  </ion-header-bar>
 <ion-view view-title="Created Tasks">

    <ion-content>
        <ion-list>
        <div ng-if="tasksAvailable.length>0">
          <a href ui-sref="app.parentdetails({id:task.id})" ng-repeat="task in tasksAvailable">
          <ion-item class="item"> 
          <h2>{{task.title}}</h2>
          <p><i>{{task.desc}}<i></p>
          <span>
            ${{(task.min+task.max)/2 | number:0}}
          </span>
          </ion-item>
        </div>

        <div ng-if="tasksAvailable.length==0" class="empty-content">
          <center>
            <h1>Oops.</h1>
            <p>Seems like there isn't any tasks!</p>
            <button class="button button-balanced" type="button" ng-click="clearHistoryAndGo('app.create')">Create Tasks!</button>
          </center>
        </div>

      </ion-list>
    </ion-content>
</ion-view>