<!-- <body ng-app="jiayongApp" ng-controller="MainCtrl">
 -->   <ion-header-bar class="bar-subheader">
        <div class="button-bar">
            <div class="button-bar">
                <a class="button button-clear button-assertive" tab-state ng-click="goto('app.progress')">In Progress</a>
                <a class="button button-clear button-assertive" tab-state ng-click="goto('app.pending')">Pending</a>
                <a class="button button-clear button-assertive" tab-state ng-click="goto('app.completed')">Completed</a>
                <a class="button button-clear button-assertive" tab-state ng-click="goto('app.rejected')">Rejected</a>

            </div>
        </div>
  </ion-header-bar>
  <ion-view view-title="Pending" >     
    <ion-content>
        <ion-list>
        <div ng-if="tasksPending.length>0">
          <a ng-repeat="task in tasksPending" href ui-sref="app.details({id:task.id})">
            <div class="item item-divider" ng-if="task.status == 'Pending Approval'">
                Proposal
            </div>
            <div class="item item-divider" ng-if="task.status == 'Pending Completion'">
                Task Completion
            </div>
            <ion-item class="item"> 
              <h2>{{task.title}}</h2>
              <p><i>{{task.desc}}<i></p>
              <span>
                ${{(task.min+task.max)/2 | number:0}}
              </span>
            </ion-item>
        </div>
          </a>
        </div>
        
        <div ng-hide="tasksPending.length!=0" class="empty-content padding-vertical" >
          <center>
            <h1>Oops.</h1>
            <p>Seems like you don't have any pending tasks! yet!</p>
          </center>
          <div class="row" style="margin: 0 auto; width:75%">
            <div class="col">
              <button class="button button-block button-balanced" type="button" ng-click="goto('app.find')">Find Tasks!</button>
            </div>
            <div class="col">
              <button class="button button-block button-calm" type="button" ng-click="goto('app.create')">Create Tasks!</button>
            </div>
          </div>
        </div>
      </ion-list>
    </ion-content>
</ion-view>